/*Estilo pantalla registro*/


input{
  height: 24px;
}

#formulario{
  text-align: left;
  width: 50%;
  /*border:1px solid black;*/
  line-height: 1;
  float:left;
  margin-left:10%;
}
#form_contacto{
  line-height: 1;
  margin-left:4%;
  width: 40%;
  float: left;
  text-align: left;
  /*border:1px solid black;
  border-radius: 10px;*/
}
#dat_contacto{
  line-height: 1;
  margin-left:10%;
  width: 44%;
  float: left;
  text-align: left;
}
/*Css contenedores de busquedas*/
#Buscador{
  text-align: left;
  width: 100%;
  /*border:1px solid black;*/
  line-height: 1;
  /*margin-left:2%;*/
}
.Buscador2{
  text-align: left;
  width: 65%;
  /*border:1px solid black;*/
  line-height: 1;
  float: left;
  /*margin-left:2%;*/
}

#repor_cont{
  text-align: left;
  width: 90%;
  margin-left: 20px;
}
.buscar{
  width: 45%;
}
/*Tamaño Cristerio busqueda nombre*/
#bus_rep{
  width: 75%;
}
/*Estilo de Tablas*/
.tblbuscar{
     width: 85%;
     border-top:1px solid black;
     border-left: 1px solid black;
     border-right: 1px solid black;
     border-collapse:separate;
     border-bottom:1px solid black;
     margin-left: 12px;
     table-layout: fixed;
}
.tblbusdet{
     width: 95%;
     border-collapse:separate;
     margin-left: 14px;
     table-layout: fixed;
}
.d_tabla{
  overflow-y:auto;
  height: 70px;
  width: 89%; 
}
#d_tabrep{
  overflow-y:auto;
  height: 400px;
  width: 89%; 
}
#d_tabrep2{
  overflow-y:auto;
  height: 400px;
  width: 96%; 
}
.rep_cab{
     width: 92%;
     border-top:1px solid black;
     border-left: 1px solid black;
     border-right: 1px solid black;
     border-collapse:separate;
     border-bottom:1px solid black;
     margin-left: 14px;
     table-layout: fixed;

   }
/****CSS TABLAS ****/
.tbl_cod {
  width:15%;
}
.tbl_nombre {
  width:50%;
}
.tbl_cedula {
  width:20%;
}

.tbl_cod_rep {
  width:15%;
}
.tbl_cod_rep2 {
  width:12%;
}
.tbl_nombre_rep {
  width:50%;
}
.tbl_nombre_det {
  width:50%;
}
.tbl_nombre_rep2 {
  width:54%;
}
.tbl_nombre_rep3 {
  width:65%;
}
.tbl_nombre_rep4 {
  width:53%;
}
.tbl_cedula_rep {
  width:19%;
}
.tbl_ced_rep_cab {
  width:18%;
}
/*Colum rpt_contacto_vnd*/
.tbl_cod_prod{
 width:9%; 
}
.tbl_des_prod{
 width:26%; 
}
.tbl_ced_cont{
 width:16%; 
}
.tbl_nom_cont{
 width:35%; 
}
.rep_cab_convnd{
     width: 97%;
     border-top:1px solid black;
     border-left: 1px solid black;
     border-right: 1px solid black;
     border-collapse:separate;
     border-bottom:1px solid black;
     margin-left: 14px;
     table-layout: fixed;

   }
.tbldet_convnd{
     width: 99%;
     border-collapse:separate;
     margin-left: 14px;
     table-layout: fixed;
}
#d_tab_convnd{
  overflow-y:auto;
  height: 400px;
  width: 98%; 
}
#repor_convnd{
  text-align: left;
  width: 97%;
  margin-left: 10px;
}
/**/
/*******************/
/*************************/
/* Css Reportes */
#rep_fecha{
   text-align: left;
   width: 50%;
  float: left;
  height:40px;
}
#rep_criterio{
   border: 1px Solid black;
   text-align: left;
   width: 100%;
   float: left;
}
/**********************/
.imgusr{
  width: 80%;
  height: 80%;
}

#labtel1{
   float:left;
}

#labtel2{
   margin-left:10%;
}
#labtel3{
   float:left;
}
input.nomape{
  width: 65%;
}

.det_nombres{
  width: 75%;
  text-align: center;
  resize: none;
}

#dscprod{
  width: 75%;
  resize: none;
}
#dscprod2{
  width: 76%;
  resize: none;
}
input.cod{
  width: 20%;
}
input.ced{
  width: 30%;
}

input.fec{
  width: 20%;
}

input.telf1{
  width: 25%;
  float:left;
}
input.telf2{
  width: 25%;
  margin-left:3%;
}

input.usrpwd{
     width: 35%;
}

/*Por debajo de los 700 pixeles */
@media screen and (max-width: 700px){
  #Tit1 {
      font-size: 18pt;
  }
  #Tit2 {
      font-size: 12pt;
  }
}

/*Por debajo de los 400 pixeles */
@media screen and (max-width: 400px){
  #Tit1 {
      font-size: 14pt;
  }
  #Tit2 {
      font-size: 9pt;
  }
}